.AllChatsContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    min-width: 80vw;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.AllChatsContainer2 {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;

}



.subtitle{
    margin-bottom: 10px;
    margin-top: 10px;
}
.addNewFriend{
    text-align: center;

}
.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .newChatButton {
    background-color: #dc2aff;
    color: #fff;
    font-size: 24px;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s, transform 0.3s;

  }

.disabledButton {

    background-color: #ccc; 
    color: #666;
    cursor: not-allowed; 
    transition: background-color 0.3s, transform 0.3s;

  }

.newChatButton:hover {
    background-color: #74d1e4;
}
.disabledButton:hover{
    background-color: #6d6d6d; 
    color: #c9c9c9;

  }
.newChatButton:active {
    transform: scale(0.9); 
}
.singleChatLinkContainer{
  border: solid 1px rgb(193, 193, 193);
  padding-top: 10px;
  padding-bottom: 10px;
}

.noLinkStyling{
  text-decoration: none;
  color: inherit;
}