
.TopPart{
    padding: 3vh 2vw;
    background-color: rgba(240, 248, 255);
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;
}
.TopLeft{
    display: flex;
    align-items: center;
}

.ChatNameName{
    font-size: 1.7rem;
    font-weight: bold;
}
.ChatNameStatus{
    font-size: 0.7rem;
    
}
.ProfilePic{
    display: flex;
    align-items: flex-end;
    width: 40px;
    height: auto;
    border-radius: 50%;
    margin-right: 10px;
}
.NoChattingWith{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin: 0 50px;
    margin-top: 30vh;
    text-align: center;
}






.MessagesContainer{
    margin-bottom: 15vh;

}
.SingleMessageContainer{
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
}
.SingleMessage{
    padding: 6px 20px;
    border-radius: 20px;
    margin: 10px 10px;
    max-width: 60%;
}
.SingleMessageImage img{
    max-width: 100%;
    border-radius: 20px;
    margin-bottom: 5px;

}

.mymessage{
    background-color:#00b392;
    align-self: flex-end;
}
.notmymessage{
    background-color: rgb(150, 150, 150);
    align-self: flex-start;

}







.BottomPart{
    position: fixed;   
    bottom: 0;
    z-index: 1;
    background-color: rgba(240, 248, 255);
    padding: 3vh 2vw;
    width: 100%;
    align-self: center;
}
.messageInput{
    outline: none;
    border: none;
    background-color: rgb(186, 192, 197);
    padding: 10px;
    border-radius: 10px;
    width: 50vw
}

.sendMessage{
    outline: none;
    border: none;
    padding: 10px;
    background-color: transparent;
    cursor: pointer;
}

.icon {
    color: rgb(0, 0, 0); 
  }