
.TopPart{
    padding: 3vh 2vw;
    background-color: rgba(240, 248, 255);
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;
}
.TopLeft{
    display: flex;
    align-items: center;
}

.ChatNameName{
    font-size: 1.7rem;
    font-weight: bold;
}
.ChatNameStatus{
    font-size: 0.7rem;
    
}
.ProfilePic{
    display: flex;
    align-items: flex-end;
    width: 40px;
    height: auto;
    border-radius: 50%;
    margin-right: 10px;
}
.BottomPart{
    position: fixed;   
    bottom: 0;
    z-index: 1;
    background-color: rgba(240, 248, 255);
    
    padding: 3vh 2vw;
    width: 100%;
}
.messageInput{
    outline: none;
    border: none;
    background-color: rgb(186, 192, 197);
    padding: 10px;
    border-radius: 10px;

}

.sendMessage{
    outline: none;
    border: none;
    padding: 10px;
    background-color: transparent;
    cursor: pointer;
}

.icon {
    color: rgb(0, 0, 0); 
  }